[TEMPLATE]

# Django
DJANGO_SECRET_KEY=your-key
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

#ALLOWED_HOSTS(default)
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1

# PostgreSQL
POSTGRES_DB=nexify
POSTGRES_USER=nexify
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

#SMTP
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=no-reply@example.com
EMAIL_HOST_PASSWORD=change-me
DEFAULT_FROM_EMAIL=no-reply@example.com
CONTACT_NOTIFY_EMAIL=admin@gmail.com

#Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
