# ---------- Python ----------
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.venv/
venv/
env/
ENV/
.env/
.tox/
.mypy_cache/
.ruff_cache/
.pytype/

# ---------- Django ----------
db.sqlite3
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm
staticfiles/
media/
media-test/

# ---------- محیط و رازها ----------
.env
.env.*
!.env.example

# ---------- ابزارها / IDE ها ----------
.idea/
.vscode/
.fleet/
*.swp
.project
.classpath
.settings/

# ---------- سیستم‌عامل ----------
.DS_Store
Thumbs.db
Desktop.ini

# ---------- pytest و پوشش کد ----------
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ---------- لاگ‌ها ----------
*.log
